[Unit]
Description=PBX Ding
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/pbxding/
EnvironmentFile=/opt/pbxding/.env
Restart=on-failure
ExecStart=/opt/pbxding/.venv/python3 -u /opt/pbxding/pbxding.py
