[Unit]
Description=PBX Ding
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/pbxding/
EnvironmentFile=/opt/pbxding/.env
ExecStart=/opt/pbxding/.venv/python3 /opt/pbxding/pbxding.py
